<div class="people-container">
    <div class="people-controls">
        <button class="btn-add-person btn btn--primary" onclick="showPersonEditor()">Dodaj</button>
    </div>
    <div class="people-list">
        <div class="people-row row-header">
            <div class="row-username">
                Nazwa użytkownika
            </div>
            <div class="row-firstname">
                Imię
            </div>
            <div class="row-lastname">
                Nazwisko
            </div>
            <div class="row-role">
                Rola
            </div>
        </div>
    </div>
</div>

<div class="dialog-container person-editor-container">
    <div class="dialog-mask"></div>
    <div class="dialog">
        <div class="dialog-window-buttons">
            <i class="fa fa-times" onclick="hidePersonEditor()"></i>
        </div>
        <h1 class="dialog-title">Dodaj użytkownika</h1>
        <form class="person-editor-form" action="">
            <p>Nazwa użytkownika</p>
            <div class="input-wrapper">
                <input class="input-text" name="username" type="text" />
                <div class="incorrect-input"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <p>Imię</p>
            <div class="input-wrapper">
                <input class="input-text" name="firstName" type="text" />
                <div class="incorrect-input"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <p>Nazwisko</p>
            <div class="input-wrapper">
                <input class="input-text" name="lastName" type="text" />
                <div class="incorrect-input"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <p>Rola</p>
            <div class="input-wrapper">
                <select class="input-select select-role" name="role" onchange="updateSelect(this)">
                    <option value="default" selected hidden disabled>Wybierz...</option>
                    <option value="0">Admin</option>
                    <option value="1">User</option>
                </select>
                <div class="incorrect-input"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <p>Hasło</p>
            <div class="input-wrapper">
                <input class="input-text" name="password" type="password" />
                <div class="incorrect-input"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <button class="btn-save btn btn--primary" type="button" onclick="addPerson()">Zapisz</button>
        </form>
    </div>
</div>

<div class="dialog-container person-delete-container">
    <div class="dialog-mask"></div>
    <div class="dialog">
        <div class="dialog-window-buttons">
            <i class="fa fa-times" onclick="hideDeletePersonDialog()"></i>
        </div>
        <h1 class="dialog-title">Na pewno chcesz usunąć?</h1>
        <div class="person-delete-buttons">
            <button class="btn-no btn btn--outline" type="button">Nie</button>
            <button class="btn-yes btn btn--primary" type="button">Tak</button>
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/People.css" />
    <link rel="stylesheet" href="~/css/CommonForm.css" />
    <link rel="stylesheet" href="~/css/CommonDialog.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section Scripts 
{
    <script src="~/js/People.js"></script>
    <script>loadUsers();</script>
}