@using CRM.Models;

<link rel="stylesheet" href="~/css/Navbar.css" />

<nav class="navbar">
    <a href="/">Witaj</a>
    <div class="navbar-menu">
        <ul class="navbar-links">
            <li>
                <a href="/">Strona główna</a>
            </li>
            @if (User.IsInRole(nameof(Role.Admin)))
            {
                <li>
                    <a href="/people">Użytkownicy</a>
                </li>
            }
        </ul>
    </div>
    <div class="navbar-user" onclick="toggleUserMenu()">
        <i class="fa-regular fa-user"></i>
    </div>
    <div class="navbar-user-menu">
        <div class="user-menu-name">Test</div>
        <div class="user-menu-buttons"></div>
        <div class="user-menu-logout">
            <button class="btn btn--primary btn-logout" onclick="logout()">Wyloguj</button>
        </div>
    </div>
</nav>

<script src="~/js/Logout.js"></script>
<script>
    function toggleUserMenu() {
        const menu = document.querySelector(".navbar-user-menu");
        if (menu.classList.contains("shown")) {
            menu.classList.remove("shown");
        }
        else {
            menu.classList.add("shown");
        }
    }
</script>