@using CRM.Models;

<link rel="stylesheet" href="~/css/Navbar.css" />

<nav class="navbar">
    <a href="/">Witaj</a>
    <div class="navbar-menu">
        <ul class="navbar-links">
            <li>
                <a href="/">Strona główna</a>
            </li>
            @if (User.IsInRole(nameof(Role.Admin)))
            {
                <li>
                    <a href="/people">Użytkownicy</a>
                </li>
            }
        </ul>
    </div>
    <div class="navbar-user">
        <span>Test</span>
        <button class="btn-logout btn btn--outline" onclick="logout()">Wyloguj</button>
    </div>
</nav>

<script src="~/js/Logout.js"></script>