@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="tasks-container">
    <div class="tasks-calendar">
        <table class="calendar">
            <thead>
                <tr>
                    <td>Pon</td>
                    <td>Wt</td>
                    <td>Śr</td>
                    <td>Czw</td>
                    <td>Pt</td>
                    <td>Sob</td>
                    <td>Nd</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Month.Days.Length; )
                {
                    <tr>
                        @do
                        {
                            <td>
                                @Model.Month.Days[i].CurrentDate.Day
                            </td>
                            i++;
                        } while(i < Model.Month.Days.Length && Model.Month.Days[i].CurrentDate.DayOfWeek != DayOfWeek.Monday);
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tasks-controls">
        <button onclick="postDataUsingFetch()"></button>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/Index.css"/>
}

@section Scripts 
{
    <script>
        async function postDataUsingFetch() {
            fetch("/Home", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                }
            })
            .then(async function (response) {
                if (response.ok) {
                    const data = await response.text();
                    console.log(data);
                } else {
                    console.error("Failed to post data.");
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        }
    </script>
}
